@import "@student-performance/ui/globals.css";

@media print {
  aside,
  nav,
  header,
  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  main {
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 12pt;
    color: #000;
    background: #fff;
  }
}
